.doctors-grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(192, 242, 255);
}
article img{
    width: 90px;
}
footer {
    background-color: #f2f2f2;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.copyright {
    text-align: center;
    margin-top: 20px;
}
@media (max-width: 768px) {
    .doctors-grid {
        grid-template-columns: 1fr;
    }

    footer .container {
        flex-direction: column;
        text-align: center;
    }
}